@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  background: #38a1db;
}
::-webkit-selection {
  background: #38a1db;
}
::selection {
  background: #38a1db;
}

body {
  background-color: #c8c9cd;
}
