.nav-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, transparent);
}

.nav-solid {
  background: #141414;
}
.gradient-side {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent 85%);
}

.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(
    to top,
    theme("colors.darkGray") 10%,
    rgba(0, 0, 0, 0) 100%
  );
}

.explore-all {
  opacity: 0;
  transform: translateX(-25%);
  color: theme("colors.secondary");
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    color 0.7s ease-in-out;
  padding-top: 0.6rem;
  padding-left: 0.75rem;
  font-size: 0.75rem;
}

.group:hover .explore-all {
  opacity: 1;
  transform: translateX(0);
  color: theme("colors.primary");
}

.ant-select-selector {
  background-color: theme("colors.darkGray") !important;
  color: theme("colors.secondary") !important;
}
.ant-select-selection-item {
  color: theme("colors.secondary") !important;
}
.ant-select-dropdown {
  background-color: theme("colors.darkGray") !important;
  color: theme("colors.secondary") !important;
}
.ant-select-item {
  background-color: theme("colors.darkGray") !important;
  color: theme("colors.secondary") !important;
}

.ant-select-item:hover {
  background-color: theme("colors.dark") !important;
}
.ant-rate-star-zero .anticon-star {
  color: theme("colors.darkGray");
}

.ant-rate-star-first {
  color: #fadb14 !important;
}
.ant-rate-star-first {
  color: #fadb14 !important;
}

.ant-custom-button:hover {
  background-color: rgba(229, 8, 21, 0.8) !important;
  color: white !important;
}

.ant-dropdown-menu {
  background-color: theme("colors.darkGray") !important;
}

.ant-dropdown-menu-item {
  color: theme("colors.secondary") !important;
}

.ant-dropdown-menu-item-active {
  background-color: theme("colors.dark") !important;
}
